.root {
    -fx-font-family: 'Arial';
}

.label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #35d98e;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.text-field:focused {
    -fx-border-color: #000000;
    -fx-border-width: 3;
}

.grid-pane {
    -fx-background-color: #5a9579;
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-padding: 10px;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 5;
}

.dialog-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #5a9579;
    -fx-border-width: 2px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #5a9579;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #5a9579;
}

.dialog-pane .label {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.dialog-pane .header-panel .header {
    -fx-background-color: #5a9579;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.vbox {
    -fx-background-color:  #5A9579FF;
}

.historial-text-area {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10;
}

.chart {
    -fx-background-color: transparent; /* Fondo transparente para los gráficos */
}

.chart-title {
    -fx-text-fill: #000000; /* Color de texto para el título del gráfico */
    -fx-font-weight: bold; /* Negrita para el título del gráfico */
    -fx-font-size: 16px; /* Tamaño de fuente para el título del gráfico */
}

.axis-label {
    -fx-text-fill: #000000; /* Color de texto para las etiquetas de los ejes */
    -fx-font-weight: bold; /* Negrita para las etiquetas de los ejes */
}

.chart-legend-item {
    -fx-text-fill: #000000; /* Color de texto para los elementos de la leyenda */
}
